.navbar {
    background: hsla(225, 78%, 59%, 1);
    background: linear-gradient(90deg, hsla(225, 78%, 59%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);
}

.navbar-brand {
    color: white !important;
    font-weight: 200;
    font-size: 28px !important;
    padding-left: 10px;
}

#cuerpo,
#info {
    min-width: 350px;
    max-width: 800px;
}

#lista button {
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
}

.clasificacion button:hover{
    background-color: rgb(13, 110, 253) !important;
    color:#fff!important ;
}

button.nivel_1, button.nivel_2, button.nivel_3 {
    padding: 4px 0;

}

button.nivel_1 {
    margin-left: 0px;
    font-size: 18px;
    font-weight: bold;
}

button.nivel_2 {
    margin-left: 10px;
    font-size: 16px;
}

button.nivel_3 {
    margin-left: 20px;
    font-size: 14px;
}

#campoBusqueda {
    border-radius: 30px !important;
    max-width: none;
}

@media(max-width: 390px) {
    #campoBusqueda {
        max-width: 170px;
    }
}

mark {
    padding-left: 8px;
    margin-left: -4px;
    padding-right: px;
    margin-right: -4px;
    background-color: white;
    border-radius: 5px;
}

mark sup {
    color: gray;
    font-size: 10px;
}

mark.actual {
    background-color: orange;
}

button.minimo {
    margin-top: 8px;
    border-style: none;
    background-color: transparent;
    border-radius: 4px;
}

button.minimo:hover {
    background-color: blue;
    color: white;
}

body {
  overflow-y: scroll;
  box-sizing: content-box;
}

#navegacion, #info {
    min-height: 24px;
}

#arriba {
    position: fixed;
    bottom: 8px;
    left: 16px;
}

#volver {
    position: fixed;
    top: 82px;
    left: 16px;
}

i.bi-whatsapp{
    color: green;
}