#lista button {
    border: none;
    width: 100%;
    text-align: left;
    background-color: transparent;
}

li {
    list-style: none;
}

button.nivel_1 {
    margin-left: 10px;
    font-size: 20px;
}

button.nivel_2 {
    margin-left: 20px;
    font-size: 16px;
}

button.nivel_3 {
    margin-left: 30px;
    font-size: 16px;
}

button:hover{
    color:blue;
}

#cuerpo {
    min-width: 350px;
    max-width: 800px;
}

.navbar {
    background: hsla(218, 100%, 55%, 1);
    background: linear-gradient(135deg, hsla(218, 100%, 55%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(218, 100%, 55%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(218, 100%, 55%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1A6EFF", endColorstr="#60EFFF", GradientType=1);
}

#campoBusqueda {
    border-radius: 30px !important;
}
