:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    --etiqueta: green;
}

html {
    font-family: system-ui,sans-serif;
    background-color: #e9fcf4;
}

body {
  margin: 0;
  padding: 0;
}

#head {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: green;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.titulo {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 20px;
}

.busqueda {
    flex: 1;
    display: flex;
    align-items: center;

    border: 1px solid black;
    border-radius: 10px;

    margin-right: 4px;
    margin-top: 16px;

    max-width: 200px;
    max-height: 20px;
}

.entrada {
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding: 4px;
    padding-left: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#info {
    max-width: 600px;
    width: 100%;
    text-align: right;
    padding-bottom: 4px;
    padding-right: 8px;
    font-weight: lighter;
    font-size: 12px;
}


.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#lista {
    margin: 90px 8px;
    max-width: 600px;
    min-width: 400px;
}

/* Ordenanza */
.tarjeta {
    display: flex;
    padding: 4px;
    background-color: white;
    background-image: none;
    background-size: 400%;
    border-radius: 4px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}

.tarjeta a {
    width: 100%;
    text-decoration: none;
    padding: 8px 8px;
    border-radius: 4px;
    color: #222;
    background-color: white;
    opacity: 0.8;
}

.tarjeta:is(:hover, :focus-within) {
    background-position: 0;
    background-image: --accent-gradient;
}

.tarjeta:is(:hover, :focus-within) h2 {
    color: var(--accent);
}

.linea {
    display: flex;
    justify-content: space-between;
}

.linea.destacar {
    margin: 12px 0;
    font-size: 18px;
    font-weight: normal;
}

.campo {
    flex: 1;
    font-size: 16px;
    font-weight: lighter;
}

.campo.destacar span {
    font-weight: normal;
}
.campo label {
    display: block;
    font-size: 12px;
    color: var(--etiqueta);
}

.campo span {
    font-size: 14px;
}

/* info */
#medir {
/*     margin-left: 8px;
    height: 12px;
    padding: 8px 0;
 */    font-weight: lighter;
    color: var(--etiqueta);
}