:root {
    --color-base: green;
    --minimo: 370px;
    --maximo: 640px;
}

html {
    font-family: system-ui,sans-serif;
    background-color: #e9fcf4;
}

body {
  margin: 0;
  padding: 0;
}

#head {
    background-color: var(--color-base);
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    
    position: fixed; 
    top: 0;
    width: 100%;
    
    z-index: 1000;
    text-align: center;
}

#head .aux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.centrar-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.fila {
    display: flex;
    justify-content: space-between; 
    max-width: var(--maximo);
    min-width: var(--minimo);

    width: 100%;
}

.fila .titulo {
    font-size: 28px;
    font-weight: lighter;
    margin: 8px;
}

input::placeholder {
    color: #a0a0a0;
    font-size: 14px;
}

.fila .entrada {
    border: 1px solid black;
    border-radius: 20px;
    margin: 12px;

    font-size: 18px;
    
    height: 20px;
    padding: 4px;
    width: 50%;
    padding-left: 12px;
    color: var(--color-base);
}

#info {
    max-width: 600px;
    width: 100%;
    padding: 2px 0;
    font-size: 16px;
    font-weight: lighter;
    text-align: right;
    margin-right: 30px;
}

#cuerpo, #pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#lista, #clasificacion, #marco{
    margin: 110px 8px 0 8px;
    max-width: var(--maximo);
    min-width: var(--minimo);
}

/* Ordenanza */
.tarjeta {
    display: flex;
    padding: 4px;
    background-color: white;
    background-size: 400%;
    border-radius: 8px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}

.tarjeta button {
    width: 100%;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    color: #201010;
    border: none;
}

.linea {
    display: flex;
    justify-content: space-between;
}

.linea.destacar {
    margin: 12px 0;
    font-size: 18px;
    font-weight: normal;
}

.campo {
    flex: 1;
    font-size: 16px;
    font-weight: lighter;
}

.campo.destacar span {
    font-weight: normal;
}

.campo label {
    display: block;
    font-size: 12px;
    color: var(--color-base);
}

.campo span {
    font-size: 14px;
}

div.nivel_1, div.nivel_2, div.nivel_3 {
    width: 90%;
    display: flex;
}

#clasificacion button {
    padding: 4px 16px;
    padding-left: 10px !important; 
    padding-right: 10px !important; 
}

#clasificacion button.nivel_1 {
    margin-left: 10px;
    font-size: 20px;
}

#clasificacion button.nivel_2 {
    margin-left: 20px;
    font-size: 16px;
}

#clasificacion button.nivel_3 {
    margin-left: 30px;
    font-size: 16px;
}


#clasificacion {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

button.clasificacion {
    border: 1px solid black;
    border-radius: 20px;
    margin: 4px;
    width: 240px;
    font-size: 12px;
    padding: 8px;
    background-color: transparent;
    color: white;
}

#clasificacion button{
    border: none;
    max-width: var(--maximo);
    min-width: var(--minimo);
    width: 100%;

    padding: 8px 0;
    padding-right: 20px;
    background-color: transparent;
    cursor : pointer;
    color: var(--color-base);
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    text-align : left;
}

.tarjeta button {
    text-align: left;
}

#clasificacion button b {
    color: black;
}

#clasificacion button i {
    color: black;
    font-size: 16px;   
}

#clasificacion button:hover {
    color: black;
    background-color: rgba(8, 165, 74, 0.3);
    border-radius: 12px;
} 

button {
    cursor: pointer;
}

button.volver {
    width: 100px;
}

