---
interface Props {
    etiqueta: string;
    valor: string;
}

const { etiqueta, valor } = Astro.props;
---

<div>
    <div class="etiqueta">{etiqueta}</div>
    <span>{valor}</span>
</div>

<style>
    div {
        margin-bottom: 4px;
        margin-right: 30px;
    }
    
    .etiqueta {
        display: block;
        font-size: 0.7em ;
        color: #888;
        margin-bottom: 4px;
        margin-top: 2px;
    }
    
    span {
        display: block;
		font-size: 12px;
        color: green;
    }

</style>